.line{
	height: 25px;
    width: 100%;	
    background-color: #003049;
	color: #ffff;
}
.linesm{
	height: 3px;
    width: 100%;	
    background-color: #003049;
	color: #ffff;
}

.espacio{
	margin-top:40px;
	margin-bottom:30px;
}
body{
	background-color: #f1faee;
	color:#457b9d ;
	font-size: 20px;
	text-align: justify;
	margin-top: 20px;
	padding: 30px;
}
.table{
	color:#457b9d ;
	font-size: 24px;
	text-align: justify;
	margin-top: 20px;
	padding: 30px;
}
.tableup{
	background-color: #003049;
	color:#f1faee ;
	font-size: 26px;
	text-align: center;
}
h1{
	color: #1d3557;
	text-align: center;
	margin-bottom:50px ;
}

.card-text{
	color: #457b9d;
	font-size: 18px;
	text-align: Center;
}
.card-body{
	background-color:#003049;
}
